*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 4rem;
    line-height: 4rem;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
   
    background-color: #081b31;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 7rem;
}
.score-board{
    font-size: 2rem;
    display: flex;
    gap:5rem;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
}
#user-score, #comp-score{
    font-size: 4rem;
}
.message-container{
    margin-top: 5rem;
}
#msg{
 
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    

}